#right #bottom{
  padding: 1rem;
  background: #f5f8fa;
  border-radius: 0.5rem;
}
#right #bottom #title{
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

#right #bottom #more{
  padding-top: 1rem;
  font-weight: 700;
  color: rgba(29, 161, 242, 1);
}
